<?xml version="1.0"?>

<robot name="ball" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="ball_mass" value="0.50"/>
    <xacro:property name="ball_radius" value="0.02"/>

    <xacro:include filename="$(find rl_wheel)/urdf/macros.xacro"/>
    <xacro:include filename="$(find rl_wheel)/urdf/materials.xacro"/>

    <link name="ball_link">
        <inertial>
            <mass value="${ball_mass}"/>
            <inertia 
                ixx="${2*ball_mass*ball_radius*ball_radius/5}" ixy="0" ixz="0"
                iyy="${2*ball_mass*ball_radius*ball_radius/5}" iyz="0"
                izz="${2*ball_mass*ball_radius*ball_radius/5}" />
        </inertial>

        <visual>
            <geometry>
                <sphere radius="${ball_radius}"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <sphere radius="${ball_radius}"/>
            </geometry>
        </collision>
    </link>

    <gazebo reference="ball_link">
        <material>Gazebo/Blue</material>
    </gazebo>

</robot>