<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <env name="DISABLE_ROS1_EOL_WARNINGS" value="true"/>
        <env name="GAZEBO_RESOURCE_PATH" value="$(find rl_wheel)"/>
        <env name="GAZEBO_MODEL_PATH" value="$(find rl_wheel)/models"/>

        <arg name="world_name" value="$(find rl_wheel)/worlds/rl_wheel.world"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <group ns="/ball_bot">
        <include file="$(find rl_wheel)/launch/ball.launch">
            <arg name="init_pose" value="-x 0.15 -y 0.0 -z 0.5 -R 0.0 -P 0.0 -Y 0.0" />
        </include>
    </group>

    <group ns="/trough_bot">
        <include file="$(find rl_wheel)/launch/trough.launch">
            <!-- Need to spawn the base a little above the plane (Z=0.01) to prevent 
             the physics engine from not being able to solve collisions -->
            <arg name="init_pose" value="-x 0.0 -y 0.0 -z 0.01 -R 0.0 -P 0.0 -Y 0.0" />
        </include>
    </group>

    <include file="$(find rl_wheel)/launch/rl_wheel_control.launch"/>

</launch>