<launch>
    <arg name="init_pose"/>
    <arg name="model" default="$(find rl_wheel)/urdf/trough.urdf.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node name="urdf_spawner_trough" pkg="gazebo_ros" type="spawn_model"
        respawn="false" output="screen"
        args="$(arg init_pose) -urdf -model trough_model -param robot_description" 
        />
</launch>